@{
    ViewBag.Title = "Index";
}

<script type="text/javascript">
    function redirectCall() {
        var number = $('number').val();

        $.post('@Url.Action("RedirectFromHere")', { 'From': number }, function (data) {
            
        });
    }
</script>


<div class="row">
    <div class="col-lg-12">
        <p>From your phone, call ###-###-####.  Your call will be placed into an loop.</p>
 
        <p>Enter your phone number below and press the button below to have the call redirected out of the loop</p>

        <form class="form-inline">
            <input class="form-control" type="text" id="number" style="width:250px;" placeholder="+1 555 555-5555" />
            <button class="btn" type="button" onclick="redirectCall()">Redirect Call</button>
        </form>
        
    </div>
</div>