@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

This requires three phones to experience.  Grab a few people in your guild to try it out.

Customer Call ###-###-####

Agent 1 Call ###-###-####

Enter a phone number and press this button to call and hand off to agent 2