@{
    ViewBag.Title = "Index";
}

<script src="~/Scripts/jquery-2.0.3.min.js"></script>
<script type="text/javascript">
    function redirectCall() {
        var number = $('number').val();

        $.post('@Url.Action("RedirectFromHere")', { 'From': number }, function (data) {
            //show the result
        });
    }
</script>

<h2>Index</h2>

Call ###-###-####
 
Your call will be placed into an music loop.  Enter your phone number and press the button below to be redirected out of the loop

<input type="text" id="number" />
<button onclick="redirectCall()" />