@{
    ViewBag.Title = "Triggers";
}

<h2>Triggers</h2>

This page creates a usage trigger which will fire after every three sms messages sent to ###-###-####.

Each time the trigger fires, this we application will receive the trigger notification and display a message below.