@{
    ViewBag.Title = "Twilio Client";
}

<style>
    #showQuest {
        margin: 20px auto 0 auto;
    }

    .padding10 {
        padding: 10px;
    }

    #showQuest .header {
        background-color: red;
        border-bottom: 3px solid;
        margin-bottom:20px;
        color:white;
    }

    #showQuest h1 {
        margin: 0 0 10px 0;
        padding: 0;
        color:white;
    }

    .tutorial p, .tutorial a, .tutorial li {
        font-family: Helvetica, sans-serif;
    }

    table {
        width:100%;
        color:white;
    }
</style>

<div class="container">

    <div class="row" id="showQuest">
        <div class="col-lg-12 header">
            <div class="padding10">
                <h1>Client</h1>
            </div>
        </div>
    </div>

    <div class="row tutorial">
        <div class="col-lg-12">
            <p>This sample allows you to make and receive phone calls directly from the browser using Twilio Client.  To use this sample, enter your device phone number below in order to register a new client name.</p>
        </div>
    </div>

      <div class="row">
        <div class="col-lg-12">
            <form action="/Client/Phone" class="form-inline">
                <input class="form-control" type="text" id="number" name="number" style="width:250px;" placeholder="+1 555 555-5555" />
                <input class="btn" type="submit" value="Register">
            </form>
        </div>
    </div>

</div>

